<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <security-constraint>
        <display-name>Hello Constraint</display-name>
        <web-resource-collection>
            <web-resource-name>scientists</web-resource-name>
            <url-pattern>/</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <description>scientists Roles</description>
            <role-name>Scientists</role-name>
        </auth-constraint>
    </security-constraint>
    <security-role>
        <description>Scientists</description>
        <role-name>Scientists</role-name>
    </security-role>

    <login-config>
        <auth-method>BASIC</auth-method>
    </login-config>
</web-app>
